### IDEA project files

*.iml
*.ipr
*.iws

### Gradle template
.gradle
.idea
/out
/classes
build/
out/
ServiceTreeInfo/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


